body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-image: url('/assets/blue-stars.jpg'), 
    linear-gradient(to right top, #282d3c, #282d39, #282d37, #282c34, #292c31, #2b2f37, #2c323d, #2e3543, #313d54, #344565, #374d77, #3a5589);
    background-blend-mode: lighten;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid rgb(0, 0, 0, 0.4);
    border-image: repeating-linear-gradient(30deg, #0c339f, #9198e5, #0c9f84 20px)
  10;
    /* border: 2px solid #fdcf867e; */
    background: #00000033
}

/* #game-container {
    border-radius: 15px;
    overflow: hidden;
} */

#border {
    position: absolute;
}

/* #snake {
    width: auto;
} */