body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-btn {
    /* position: relative; */
    margin-top: 20px;
    visibility: visible;
}

#game-over-btn {
    position: absolute;
    pointer-events: none;
    width: auto;
    visibility: hidden;
}