body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;

    /* font-family: Quincy Caps; */
    font-family: 'Quincy Caps', Fallback, sans-serif;

    /* font face below should make it so user doesn't need to download font, check this at home */
    @font-face {
        font-family: 'Quincy Caps';
        src: 
            local('Quincy-Caps-Regular'),
            url('../fonts/Quincy-Caps-Regular.ttf') format('truetype');
    }

    /* background is not working on light mode, test this at home */
    background-image: url('/assets/concept-pictures/blue-stars.jpg'),
    linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.621) 35%, rgba(0, 213, 255, 0.268) 100%);
    background-blend-mode: lighten;
    background-size: contain;
}

#middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    /* flex-direction: row; */
}

#left-container, #right-container {
    /* width: 16.6667%; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#orb-container {
    position: relative;
    display: inline-block;
}

#orb {
    margin-bottom: 20px;
    display: block;
    height: auto;
    position: relative;
    z-index: 1;
}

#current-planet {
    margin-bottom: 30px;
    white-space: nowrap;
}

#current-level {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
    /* text-shadow: 1px 1px 1px white; */
    text-shadow: #ff02c0 1px 0 10px;
    font-size: 2.5rem;
}

#how-to-play {
    background: linear-gradient(#eeeeee, #a31c64);
    border: 2mm ridge #ff02c0;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 5px;
}

#legend {
    background: linear-gradient(#eeeeee, #a31c64);
    width: 100%;
    height: auto;
    border: 2mm ridge #ff02c0;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

.gem {
    width: 100%;
    max-width: 100%;
    max-height: 16.667%;
    white-space: nowrap;
    /* display: flex;
    flex-direction: row; */
}


.legend-gem {
    height: 20px;
}

#canvas-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66.6667%;
}

#canvas-1 {
    border: 4mm ridge #ffec02;
    position: relative;
    z-index: 2;
}

#space {
    z-index: 1;
}

#play-btn {
    /* position: relative; */
    visibility: visible;
}

#game-over-btn {
    position: absolute;
    pointer-events: none;
    width: auto;
    visibility: hidden;
    z-index: 3;
}

#no-symbol {
    position: absolute;
    opacity: 0.6;
    visibility: visible;
}

#music-toggle {
    padding: 7px;
    margin-top: 400px;
    position: absolute;
    right: 10px;
}

#progress-bar-container {
    margin-top: 5px;
}

#score {
    margin-bottom: 4px;
}

.text {
    /* text is dark in dark mode, test this at home */
    background: -webkit-linear-gradient(#eeeeee, #a31c64);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* background-color: violet; */
}

/* #current-planet {
    position: absolute;
    top: 300px;
} */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        /* Example dark background color */
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #121212;
        /* Example dark background color */
    }
}



@keyframes grow {
  from {
    width: 0%
  }
  to {
    width: 100%;
  }
}

input {
  display: none;
}

label {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 0.4rem;
  border: 2px solid #eeeeee7b;
  overflow: hidden;
  box-shadow: -2px 0 8px 0 rgba(white, 0.6);
  div {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #f259f1 35%, #e590f6);
    height: 100%;
    width: 0%;
    /* animation: grow 2s forwards; */
    /* transition: width 0.5s ease-in-out; */
    box-shadow: 0 0 8px 1px white inset;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/bubbles-mask.gif);
      mix-blend-mode: overlay;
      opacity: 0.3;
    }
  }
}
